$font1: "Futura PT", sans-serif;
$font2: 'Futura PT Demi';
$font3: 'beer money';
$resolution: 1920;
$resolution2: 768;


a{
	text-decoration: none;
}
*:focus{
	outline: none;
}
html{
	width: 100%;
}

body{
	color: #ffffff;
	font-family: $font1;
	margin: 0;
	font-size: 1vw;
	background: #000012;
	width: 100%;
	overflow-x: hidden;
}

.container{
	margin: 0 0 0 vw(274);
}

.wrapper{
	overflow: hidden;
	width: 100%;
}

.text-style{
	color: #ffffff;
	font-weight: 400;
	line-height: vw(36);
	font-size: vw(30);
	p{
		+p{
			margin-top: 1em;
		}

		span,a{
			color: #ffffff;
			background-color: #e41529;
		}
	}
}

.block-title{
	color: #ffffff;
	font-size: vw(66);
	font-weight: 700;
	text-transform: uppercase;
	line-height: 0.8;
}
.block-subtitle{
	color: #ffffff;
	font-size: vw(42);
	font-weight: 700;
}


.marquee{
	color: #ffffff;
	font-size: vw(21);
	font-weight: 700;
	text-transform: uppercase;
	line-height: 0.8;
	display: block;
	position: relative;
	user-select: none;
}
.js-marquee{
	float: none !important;
	padding: vw(14) 0;
	background: #e41529;
}
.js-marquee-wrapper{
	display: flex;
}


.woman{
	width: vw(167);
	display: block;
	position: fixed;
	left: vw(43);
	top: vw(44);
	z-index: 10;
	img{
		display: block;
		width: 100%;
	}
}
.kiabi{
	width: vw(132);
	display: block;
	position: fixed;
	right: vw(55);
	top: vw(44);
	z-index: 10;
	img{
		display: block;
		width: 100%;
	}
}

.section-1{
	position: relative;

	.container{
		display: flex;
		align-items: flex-start;
		.left{
			margin-top: vw(130);
			.title{
				width: vw(724);
				span{
					color: #ffffff;
					font-size: vw(144);
					font-weight: 700;
					letter-spacing: vw(1.59);
					line-height: 0.8;
					display: block;
					&:first-child{
						text-align: left;
						position: relative;
						&::before{
							content: "";
							display: block;
							width: vw(119);
							height: vw(201);
							position: absolute;
							left: vw(170);
							top: vw(-70);
							background: url("../img/stx.png") center top no-repeat;
							background-size: contain;
						}
					}
					&:last-child{
						text-align: right;
					}
				}
			}
			.text{
				margin-top: vw(35);
				width: vw(640);
				font-size: vw(26);
				line-height: vw(32.4);
			}
		}
		.right{
			width: vw(642);
			margin-left: vw(59);
			.img{
				display: block;
				width: 100%
			}
		}
	}

	.lines{
		position: absolute;
		bottom: vw(65);
		left: 0;
		width: 100%;
	}
	.marquee-1{
		transform: rotate(3.5deg);
		z-index: 1;

	}
	.marquee-2{
		transform: rotate(-5deg);
		z-index: 2;
	}
}

.section-2{
	padding-top: vw(110);
	padding-bottom: vw(110);
	.step{
		width: vw(1343);
		.box-solid{
			position: relative;
			width: 100%;
			min-height: vw(733);
			box-sizing: border-box;
			border: vw(34) solid #e41529;
			overflow: hidden;
			.inner-box{
				box-sizing: border-box;
				width: 100%;
				padding: vw(42);
			}
		}
		&.step-1{
			.block-title{
				margin-bottom: vw(40);
			}
			.how-flex{
				display: flex;
				.how{
					.img{
						display: block;
						width: vw(44);
						height: vw(44);
						img{
							display: block;
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}
					.big{
						margin-top: vw(20);
						color: #ffffff;
						font-size: vw(38);
						font-weight: 700;
						text-transform: uppercase;
					}
					.small{
						color: #ffffff;
						font-size: vw(26);
						line-height: vw(32);
					}
					+.how{
						margin-left: vw(96);
						position: relative;
						&::before{
							content: "";
							display: block;
							width: vw(16);
							height: vw(28);
							background: url("../img/arr-h.png") center center no-repeat;
							background-size: contain;
							position: absolute;
							left: vw(-50);
							top: vw(72);
						}
					}
				}
			}

			.box{
				margin-top: vw(35);
				position: relative;
				width: 100%;
				box-sizing: border-box;
				padding: vw(42);
				overflow: hidden;
				.marquee{
					position: absolute;
					width: 100%;
				}
				.marquee-1{
					left: vw(42);
					top: 0;
					z-index: 1;
				}
				.marquee-2{
					transform: rotate(90deg);
					transform-origin: right  top;
					left: 0;
					bottom: 0;
					z-index: 2;
				}
				.marquee-3{
					transform: rotate(180deg);
					right: vw(42);
					bottom: 0;
					z-index: 3;
				}
				.marquee-4{
					transform: rotate(-90deg);
					transform-origin: left  top;
					left: 0;
					bottom: 0;
					z-index: 3;
				}

				.flex-block{
					box-sizing: border-box;
					display: flex;
					justify-content: space-around;
					padding: vw(100) vw(20);
					.item{
						text-align: center;
						line-height: vw(32);
						.label{
							margin-top: vw(20);
							color: #ffffff;
							font-size: vw(38);
							font-weight: 700;
							text-transform: uppercase;
						}
						.text{
							color: #ffffff;
							font-size: vw(26);
							line-height: vw(32);
						}
					}
				}
			}

			.btn-light{
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				color: #e41529;
				font-size: vw(32);
				line-height: 1;
				font-weight: 700;
				text-transform: uppercase;
				width: vw(306);
				height: vw(82);
				background-color: #ffffff;
				margin: vw(44) auto 0;
				transition: all 0.2s ease;
				&:hover{
					background-color: #e41529;
					color: #ffffff;
				}
			}
		}
		&.steps{
			user-select: none;
			display: none;
			.box-solid{
				.inner-box{
					.step-2{
						text-align: center;
						.title{
							color: #ffffff;
							font-size: vw(38);
							font-weight: 700;
							text-transform: uppercase;
						}
						.text{
							font-size: vw(26);
							line-height: vw(32.4);
							margin-top: vw(10);
						}
						.countdown{
							color: #ffffff;
							font-size: vw(120);
							line-height: 0.8;
							font-weight: 700;
							margin-top: vw(145);
							text-transform: uppercase;
						}
					}
					.step-3{
						text-align: center;
						display: none;
						flex-direction: column;
						align-items: center;
						user-select: none;
						.timer{
							color: #ffffff;
							font-size: vw(120);
							font-weight: 700;
							text-transform: uppercase;
							position: relative;
							width: vw(500);
							text-align: left;
							&::before{
								content: "";
								display: block;
								width: vw(37);
								height: vw(43);
								position: absolute;
								left: vw(-57);
								top: 50%;
								margin-top: vw(-21);
								background: url("../img/h2.png") center center no-repeat;
								background-size: contain;
							}
						}
						.question{
							margin-top: vw(50);
							width: vw(725);
							.number{
								color: #ffffff;
								font-size: vw(26);
								margin-bottom: 1em;
							}
							.text{
								color: #ffffff;
								font-size: vw(32);
								text-transform: uppercase;
								font-weight: 700;
								min-height: vw(160);
							}
						}
						.btns{
							width: vw(725);
							margin-top: vw(10);
							display: flex;
							justify-content: space-between;
							button{
								border: none;
								cursor: pointer;
								display: flex;
								align-items: center;
								justify-content: center;
								width: vw(290);
								height: vw(86);
								background: transparent;
								color: #ffffff;
								font-size: vw(32);
								font-weight: 700;
								text-transform: uppercase;
								transition: 0.2s ease;
								font-family: $font1;
								&:hover{
									background-color: #e41529;
								}
							}
						}
					}
					.step-4{
						display: none;
						.title{
							color: #ffffff;
							font-size: vw(66);
							font-weight: 700;
							text-align: center;
							text-transform: uppercase;
						}
						.flex-block{
							margin: vw(55) auto 0;
							width: vw(898);
							display: flex;
							justify-content: space-between;
							.left, .right{
								box-sizing: border-box;
								padding: vw(35) 0 0 vw(45);
								background-color: #e41529;
								height: vw(142);
								color: #ffffff;
								.label{
									font-size: vw(26);
									a{
										color: #ffffff;
										text-decoration: underline;
										&:hover{
											text-decoration: none;
										}
									}
								}
								.big{
									font-size: vw(32);
									font-weight: 700;
									text-transform: uppercase;
								}
							}
							.left{
								width: vw(592);
							}
							.right{
								width: vw(279);
							}
						}
						.share{
							margin-top: vw(65);
							text-align: center;
							.label{
								color: #ffffff;
								font-size: vw(38);
								font-weight: 700;
								text-transform: uppercase;
							}
							.text{
								color: #ffffff;
								font-size: vw(26);
								margin-top: vw(10);
							}
							.social-block{
								margin-top: vw(25);
								display: flex;
								justify-content: center;
								align-items: center;
								.soc-link{
									width: vw(71);
									height: vw(71);
									display: flex;
									align-items: center;
									justify-content: center;
									background-color: #ffffff;
									border-radius: 100%;
									color: #e41529;
									transition: 0.2s ease;
									+.soc-link{
										margin-left: vw(35);
									}
									svg{
										width: vw(36);
										height: vw(36);
									}
									&:hover{
										color: #ffffff;
										background-color: #e41529;
									}
								}
							}
						}
					}
					.step-5{
						display: none;
						.title{
							text-align: center;
							color: #ffffff;
							font-size: vw(66);
							text-transform: uppercase;
							margin-bottom: vw(30);
						}
						.table{
							table{
								border-collapse: collapse;
								color: #ffffff;
								margin: 0 auto;
								tr{
									th{
										text-align: left;
										color: #ffffff;
										font-size: vw(21);
										font-weight: 400;
									}
									td{
										text-align: left;
										color: #ffffff;
										font-size: vw(30);
										padding: vw(13) 0;
										&:nth-child(1){
											font-weight: 700;
											width: vw(100);
										}
										&:nth-child(2){
											width: vw(520);
										}
										&:nth-child(3){
											width: vw(135);
										}
										&:nth-child(3){
											width: vw(175);
										}
									}
								}
							}
						}
						.pagi{
							display: flex;
							justify-content: center;
							align-items: center;
							margin-top: vw(28);
							a{
								color: #ffffff;
								cursor: pointer;
								font-size: vw(21);
								+a{
									margin-left: vw(12);
								}
								&.active,&:hover{
									color: #e41529;
								}
								&.arrow{
									width: vw(19);
									height: vw(15);
									display: inline-block;
									background: url("../img/arr-pagi.png") center center no-repeat;
									background-size: contain;
									&.prev{
										transform: scaleX(-1);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


.section-3{
	position: relative;
	padding-top: vw(100);

	.block-title{
		position: relative;
		margin-bottom: vw(55);
		&::before{
			content: "";
			display: block;
			width: vw(66);
			height: vw(113);
			position: absolute;
			left: vw(70);
			top: vw(-65);
			background: url("../img/stx.png") center top no-repeat;
			background-size: contain;
		}
	}
	.text-1{
		width: vw(925);
	}
	.block-subtitle{
		width: vw(980);
		margin-top: vw(30);
		margin-bottom: vw(30);
	}
	.flex-block{
		display: flex;
		align-items: flex-start;
		.left{
			position: relative;
			z-index: 4;
			width: vw(585);
			.img{
				margin-top: vw(220);
				width: vw(576);
				img{
					display: block;
					width: 100%;
				}
			}
		}
		.right{
			width: vw(624);
			margin-top: vw(63);
			margin-left: vw(97);
			position: relative;
			z-index: 2;
			.img{
				width: 100%;
				img{
					width: 100%;
					display: block;
				}
			}
		}
	}

	.lines{
		position: absolute;
		left: 0;
		width: 100%;
		bottom: vw(350);

	}
	.marquee{
		font-size: vw(20);
		.js-marquee{
			padding: vw(20) 0 vw(8);
		}
		span{
			position: relative;
			&::before{
				content: "";
				display: block;
				width: vw(23);
				height: vw(36);
				position: absolute;
				left: vw(20);
				top: vw(-15);
				background: url("../img/stxb.png") center top no-repeat;
				background-size: contain;
			}
		}
	}
	.marquee-1{
		transform: rotate(3.5deg);
		z-index: 1;

	}
	.marquee-2{
		transform: rotate(-6deg);
		z-index: 3;
	}
}


.section-4{
	padding-top: vw(110);
	.block-title{
		margin-bottom: vw(55);
	}
	.text-1{
		width: vw(905);
	}

	.swiper-container{
		width: 100%;
		box-sizing: border-box;
		padding-left: vw(200);
		margin-top: vw(75);
		.swiper-wrapper{
			.swiper-slide{
				margin-right: vw(100);
				margin-left: vw(74);
				transition: 0.8s ease;
				width: auto;
				.inner-flex{
					display: flex;
					align-items: center;
					.left{
						width: vw(624);
						height: vw(936);
						transition: 0.8s ease;
						img{
							width: 100%;
							height: 100%;
							object-fit: contain;
							display: block;
						}
					}
					.right{
						padding-left: vw(58);
						width: vw(300);
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: vw(936);

						color: #ffffff;
						font-weight: 400;
						line-height: vw(36);
						font-size: vw(30);
						transition: 0.8s ease;
						overflow: hidden;
						.title{
							font-weight: 700;
							width: vw(242);
						}
						.text{
							width: vw(242);
							margin-top: 1em;
							p{
								+p{
									margin-top: 1em;
								}

								span,a{
									color: #ffffff;
									background-color: #e41529;
								}
							}
							&.long{
								font-size: vw(26);
								line-height: vw(30);
							}
						}
						.control{
							margin-top: vw(30);
							display: flex;
							justify-content: space-between;
							width: vw(167);
							>div{
								cursor: pointer;
								width: vw(61);
								height: vw(61);
								display: block;
								background-position: center center;
								background-repeat: no-repeat;
								background-size: contain;
								transition: transform 0.2s ease;
								&:hover{
									transform: scale(1.1);
								}
								&.button-next{
									background-image: url("../img/arr-r.png");
								}
								&.button-prev{
									background-image: url("../img/arr-l.png");
								}
							}
						}
					}
				}
				&:not(.swiper-slide-active){
					margin-right: 0;
					margin-left: vw(40);
					.inner-flex{
						.left{
							width: vw(355);
						}
						.right{
							width: 0;
							padding-left: 0;
							transform: scale(0);
							opacity: 0;
						}
					}
				}
				&:first-child{
					.inner-flex {
						.right {
							.control{
								justify-content: flex-end;
								>div{
									&.button-prev{
										display: none;
									}
								}
							}
						}
					}
				}
				&:last-child{
					margin-right: vw(1320) !important;
					.inner-flex {
						.right {
							.control{
								>div{
									&.button-next{
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


.section-5{
	padding-top: vw(55);
	.text{
		width: vw(985);
	}
	.flex-block{
		margin-top: vw(60);
		display: flex;
		align-items: flex-start;
		.left{
			width: vw(575);
			margin-top: vw(86);
			.img{
				width: 100%;
				margin-top: vw(140);
				img{
					width: 100%;
					display: block;
				}
			}
		}
		.right{
			margin-left: vw(107);
			width: vw(624);
			.img{
				width: 100%;
				img{
					width: 100%;
					display: block;
				}
			}
		}
	}
}

.to-top-block{
	margin-top: vw(70);
	text-align: center;
	.to-top{
		display: inline-block;
		img{
			display: inline-block;
			vertical-align: middle;
			width: vw(61);
			transition: transform 0.2s ease;
		}
		span{
			display: inline-block;
			vertical-align: middle;
			margin-left: vw(15);
			color: #ffffff;
			font-size: vw(30);
		}
		&:hover{
			img{
				transform: scale(1.1);
			}
		}
	}
}

.copy{
	padding: vw(80) 0 vw(10);
	.text{
		text-align: center;
		color: #ffffff;
		font-size: vw(21);
	}
}